<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Spotitube</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

</script>

</head>

<body>
    <div id="wrapper">
        <div id="TVn">
            <div id="rubrik">
               <p> Sök på artister </p>
            </div>
            <div id="search">
                <form action="/playlist" method ="POST">
                <input type="text" name="req" id="apa">
                <p><input type="submit" value="sök" id="submit"></p>
                </form>
            </div> 
        <div> 
	</div>
</body>
</html>