<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

</script>

</head>


<body>
    <div id="wrapper">
        <div id="rubrik">
	       <p> sök på en playlist </p>
        </div>
        <div id="search">
        	<form action="/playlist" method ="POST">
			<input type="text" name="req" value="">
            <p><input type="submit" value="sök" id="submit"></p>
            </form>
        </div>  
	</div>
</body>
</html>