body{
	background-color: #FFF;

}
#wrapper{
	height: 100%;
	width: 95%;
}
/*
Svart bakgrund på playlist templatet
*/
#TVn{
	background: url(oldTV.png) no-repeat center center;
    color: black;
	text-align:center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin: auto;
    margin-top: 10px;
    height: 700px;
    width: 1000px;
}
/*
alla divarna com är i TVn, rubriken, searchfältet och viedon
behövere vara lika breda. De måste vara positionerade på samma ställe 
och texten innuti måste vara centrerad. Så att även om texten i, typ 
artistnamnet ändras är det ändå centrerat i TVn.
*/

#rubrik{
	
}

#search{
	
}

#playlist{
	
}

#video{
    height: 362px;
    width: 442px;
    position: relative;
    top: 90px;
    left: 70px;
    
}